Types: deb deb-src
URIS: https://packages.gitlab.com/gitlab/gitlab-ce/debian
Suites: {{ debian_release_name }}
Components: main
#Signed-By: /etc/apt/keyrings/gitlab_gitlab-ce-archive-keyring.gpg
Signed-By: /usr/share/keyrings/gitlab_gitlab-ce-archive-keyring.asc


